<div fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button color="primary" routerLink="create" *ngIf="isAuthenticated">Create New Publication</button>
</div>
<div fxLayout="row">



  <div class="col-sm-6 chart-card-wrapper" *ngFor="let publication of publications">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
      <mat-icon>speaker_notes</mat-icon>
      <div>
        <mat-card-title>{{ publication.titre }}</mat-card-title>
      </div>
      <mat-icon>merge_type</mat-icon>
      <div>
        <mat-card-subtitle>{{ publication.type }}</mat-card-subtitle>

      </div>
      <button class="rounded-button" mat-button>
        <mat-icon>picture_as_pdf</mat-icon>
      </button>
      <button
        routerLink="edit/{{ publication.id }}"
        mat-icon-button
        color="primary"
      >
        <mat-icon *ngIf="isAuthenticated">edit</mat-icon>
      </button>
      <button *ngIf="isAuthenticated" (click)="deletePublication(publication.id)" mat-icon-button>
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </mat-card-header>

    <mat-card-actions>
      <p>Link: <a href="{{ publication.lien }}">link</a></p>
     
      <p> Date: {{ publication.date }}</p>
    </mat-card-actions>
  </div>
</div>