:host {
  margin-top: -2.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90.5vh;
}

/* Add these styles to your component's CSS file or style block */

.custom-mat-fab {
  background-color: #ff4081; /* Change to your desired background color */
  color: #ffffff; /* Change to your desired text/icon color */
}

.custom-mat-fab:hover {
  background-color: #d81b60; /* Change to your desired background color on hover */
}

.example-form-container {
  width: 800px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Adjust if needed */
}


.text-align-center{
  text-align: center;
}
.example-form {
  width: 80%;
  /* Adjust the width of the form container */
}

.form-row {
  display: flex;
  gap: 20px;
  /* Adjust the gap between form fields */
  margin-bottom: 15px;

  /* Adjust the margin between form rows */

}
    .submit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    /* Adjust the margin at the top of the submit button */
  }
